<% layout(dirs.layouts + '/uiLayout') -%>
<!-- contact section start -->

<div class="banner_section">
    <div class="container mt-5">
        <section
            style="
                height: 100px;
                text-align: center;
                background-color: #1c1c1e;
                color: #fafafa;
                margin-top: 50px;
            "
        >
            <h1 style="color: #f6fcaa">Sign Up</h1>
        </section>
        <hr style="background-color: #616005; height: 2px" />
        <section class="h-100 h-custom gradient-custom-2">
            <div
                class="container py-5 h-100 login"
                style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                "
            >
                <div
                    class="row d-flex justify-content-center align-items-center h-100"
                    style="width: 500px"
                >
                    <div
                        class="card card-registration card-registration-2"
                        style="border-radius: 15px"
                    >
                        <form
                            action="<%= generateUrl('auth.signup.http') %>"
                            method="POST"
                        >
                            <div class="card-body p-0">
                                <div class="p-5">
                                    <h3
                                        class="text-center"
                                        style="color: #4835d4"
                                    >
                                        Sign Up
                                        <hr />
                                    </h3>

                                    <div class="pb-2">
                                        <div
                                            data-mdb-input-init
                                            class="form-outline form-white"
                                        >
                                            <label
                                                class="form-label"
                                                for="username"
                                                >Username</label
                                            >
                                            <input
                                                type="text"
                                                id="username"
                                                name="username"
                                                class="form-control"
                                            />
                                            <div class="invalid-feedback">
                                                <p class="text-danger">
                                                    Please username already
                                                    Exist
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="pb-2">
                                        <div
                                            data-mdb-input-init
                                            class="form-outline form-white"
                                        >
                                            <label
                                                class="form-label"
                                                for="email"
                                                >Your Email</label
                                            >

                                            <input
                                                type="email"
                                                id="email"
                                                name="email"
                                                class="form-control"
                                            />
                                            <div class="invalid-feedback">
                                                <p class="text-danger">
                                                    Please provide a valid email
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="pb-2">
                                        <div
                                            data-mdb-input-init
                                            class="form-outline"
                                        >
                                            <label
                                                class="form-label"
                                                for="password"
                                                >Your Password</label
                                            >
                                            <input
                                                type="password"
                                                id="password"
                                                name="password"
                                                class="form-control"
                                            />
                                        </div>
                                        <div class="invalid-feedback">
                                            <p class="text-danger">
                                                Password must contain at least
                                                one uppercase letter, one
                                                lowercase letter, one digit, and
                                                one special character
                                            </p>
                                        </div>
                                    </div>

                                    <div class="pb-2">
                                        <div
                                            data-mdb-input-init
                                            class="form-outline"
                                        >
                                            <label
                                                class="form-label"
                                                for="confirmPassword"
                                                >Confirm Password</label
                                            >
                                            <input
                                                type="password"
                                                id="confirmPassword"
                                                name="confirmPassword"
                                                class="form-control"
                                            />
                                            <div class="invalid-feedback">
                                                <p class="text-danger">
                                                    Password must contain at
                                                    least one uppercase letter,
                                                    one lowercase letter, one
                                                    digit, and one special
                                                    character
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <p>
                                            Already have an account?
                                            <a
                                                href="<%= generateUrl('auth.signin.ui') %>"
                                                >Sign In</a
                                            >
                                        </p>

                                        <button
                                            type="submit"
                                            class="btn btn-primary"
                                        >
                                            Sign Up
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
